{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "extension": ".js",
  "reporter": ["html", "text"],
  "include": [
    "src/**"
  ],
  "report-dir": "./build/report"
}